html {
  scroll-behavior: smooth;
}



.navbar{ 
    background:black;
}

.nav-link , .navbar-brand{ 
    color: #FFFF33; cursor: pointer;

}

.nav-link{
     margin-right: 5px !important;
     margin-left: 5px !important;
     font-weight: 600;    
    }

.nav-link:hover{
     background: #FFFF33; color: #f97300;
     color: black;
     font-weight: 600;  
     
     }

/* this for pushing right!! */
.navbar-collapse
{
     justify-content: flex-end;

}

.navbar-brand {
    color: #FFFF33;
}

.navbar-toggler{
      background:#FFFF33 !important;
    }

    /*header style*/
.header{
    background-image: url('../images/cartoon1.jpg');
    background-attachment: fixed;
    background-size:2100px;
    background-position: centerSS;
    top: 130px;
  
   }

   /* gives the black colour to your image */
/* .overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(10, 10, 10, 0.267);
} */

.description{
    position: absolute;
    top: 40%;
    right:39%;
    margin: auto;
    padding: 2em;
    /* text-align: center; */

}

.description h1{
 color:rgb(0, 0, 0) ;
 line-break: 2;
 font-size: 60px;
}

/* line-height is for spacing between texts!! */
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 3.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

.btn-lg {
    margin-top: 15PX;
}




.about{
    margin: 2em 0;
    padding: 1em;
 
   }
   .about h1{
    color:#F97300;
    margin: 0em;
 
  
   }
   .about img{
       height: auto;
       width: auto;
       /* border-radius: 50% */
       
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 225px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:1.5;
    color:#888;
    font-size: 20px;
   }

   .portfolio{
    margin: 4em 0;
       position: relative; 
   }
   .portfolio h1{
    color:#F97300;
    margin: 2em; 
   }
   .portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
   }



   .blog{
    margin: 4em 0;
    position: relative; 
   }
   .blog h1{
    color:#F97300;
    margin: 2em; 
   }
   .blog .card{
    box-shadow: 0 0 20px #ccc;
   }
   .blog .card img{
    width: 100%;
    height: 12em;
   }
   .blog .card-title{
    color:#F97300;
     
   }
   .blog .card-body{
    padding: 1em;
   }

   .header h1 {
    font-family: 'Noto Sans KR', sans-serif;
   }

   .navbar-brand {
    font-family: 'Arvo', serif;
   }

   




   .contact-form{
    margin: 6em 0;
    position: relative;  
   }
   .contact-form h1{
    padding:2em 1px;
    color: #F97300; 
   }
   .contact-form .right{
    max-width: 600px;
   }
   .contact-form .right .btn-secondary{
    background:  #F97300;
    color: #fff;
    border:0;
   }
   .contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
   }



   .btn-dark {
       background-color: rgba(20, 20, 20, 0.856);

   }
   /* ABOUT SECTION */
   .btn-dark:hover{
       background-color:#FFFF33;
       color: black;
       border-color: white;
   }

   #about{
       
       background-image: url('../images/about_ous.jpg');
       background-color: #fff;
       background-attachment: fixed;
       background-size: cover;
       background-position: centerSS;
       top: 130px;
       opacity: 100;
       margin: 0%;
       padding: 40px;
   }
    /* .overlayabout{
    position: absolute;
    min-height: 594px;
    min-width: 100%;
    left: 0;
    top: 100%;
    background: rgba(10, 10, 10, 0.856);
   } */

   .about h1{
    font-family: 'Arvo', serif;
    color: rgb(0, 0, 0);
    margin-left: 10px;
   }
   /* .wrap{
    position: absolute;   
    top:224px;
   } */

   .wrap .icons i{
       margin-top: 10px;
       margin-left: 10px;
       height: auto;
       color: black;
   }
   .wrap .icons i:hover{
    color:yellow;
}



/* portfolio */
.portfolio h1{
    font-family: 'Pacifico', cursive;
    color: black;
}

.portfolio{
       
    background-image: url('../images/color.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: centerSS;
    top: 0px;
    opacity: 100;
    margin: 0%;
    padding: 40px;
}

/* .overlayport{
    position: absolute;
    min-height: 594px;
    min-width: 100%;
    left: 0;
    top: 100%;
    background: rgba(10, 10, 10, 0.856);

   } */


   /* blog */

   .blog{
       
    background-image: url('../images/color.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: centerSS;
    top: 0px;
    opacity: 100;
    margin: 0%;
    padding: 40px;
}
/* 
.overlayblog{
    position: absolute;
    min-height: 336px;
    min-width: 100%;
    left: 0;
    top: 100%;
    background: rgba(10, 10, 10, 0.856);

   } */


   /* Contact form */
   .contact-form{
       
    background-image: url('../images/color.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: centerSS;
    top: 0px;
    opacity: 100;
    margin: 0%;
    padding: 40px;
}

/* .overlaycontact{
    position: absolute;
    min-height: 200px;
    min-width: 100%;
    left: 0;
    top: 100%;
    background: rgba(10, 10, 10, 0.856);

   } */


   /* animation of text*/
.text_1 {
    overflow: hidden;
    white-space: nowrap;
    /* display: inline-block; */
    position: relative;
}

.text_1::after {
    content: " |";
    position: absolute;
    right: 0;
  }

  @keyframes typewriter {
    0%, 100% {
      width: 0;
    }
    20%, 80% {
      width: 8.2em;
    }
  }
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .text_1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  .text_1::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }  



